{{template "layout.html" .}}

{{define "content"}}
    <section>
        <p>Freq: {{.Freq}}</p>
        
        <h2 style="color: gray;">{{.Headword}}</h2>
        <hr>

        <div style="margin-bottom: 2rem;">
            <p><strong>Pinyin:</strong> {{.Pinyin}}</p>
            <p><strong>English:</strong> {{.EnDef}}</p>
            <p><strong>Chinese:</strong> {{.ZhDef}}</p>
        </div>

        <form action="/grade" method="POST">
            <input type="hidden" name="front" value="{{.Headword}}">
            
            <p>How well did you remember this?</p>
            <button name="rating" value="1" style="color: red;">Again (1)</button>
            <button name="rating" value="2" style="color: orange;">Hard (2)</button>
            <button name="rating" value="3" style="color: green;">Good (3)</button>
            <button name="rating" value="4" style="color: blue;">Easy (4)</button>
        </form>
    </section>
{{end}}
